<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Path</title>
    <style>
        h1 {text-align: center;}
        h4 {text-align: center;}
        div {text-align: center;}

        #txtWrapper{
            alignment: center;
        }

    </style>

    <h1>Welcome To ChopShop</h1>
    <h4> Presented to you by PythonPals &#128151 Industries </h4>

</head>
<body style=background-color:powderblue;>
<div id="txtWrapper">
    <textarea style="resize: none; text-align: center" cols=150 name="pathTxt">Your path is: {{path}}</textarea>
</div>



</body>
</html>