<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Path</title>
    <style>
        h1 {text-align: center;}
        h4 {text-align: center;}
        div {text-align: center;}

        #txtWrapper{
            alignment: center;

        }

    </style>

    <h1>Welcome To ChopShop</h1>
    <h4> Presented to you by PythonPals &#128151 Industries </h4>

</head>
<body style=background-color:powderblue;>
<div id="txtWrapper">
    <textarea style="resize: none; text-align: center" cols=150 name="pathTxt">Your path is: {{path}}</textarea>
    <form>
        <br>
        <img value="{{itemPath}}" name=myImg align=center src="../static/Aisles_Resized.png" alt="Path map cannot be loaded">
    </form>
    <br>
    <button onclick="interactiveImg()">Visualize</button>
</div>

<script>
    // function goBack() {
    //   window.history.back(); }

    function interactiveImg() {
        // var myVar = document.getElementById("myImg").value;
        const lst = "{{itemPath}}";
        if (lst.includes('Apples'))  {
            window.alert("Success ig");
        }

    }
</script>


</body>
</html>